/* Wrapper makes the form center vertically + horizontally */
.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

/* White Card box */
.auth-card {
  background: white;
  width: 100%;
  max-width: 380px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 12px 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 12px;
  background: #0a8a44;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-btn:hover {
  background: #067537;
}

/* Switch link */
.auth-switch {
  margin-top: 10px;
  font-size: 15px;
}

.auth-switch a {
  color: #0a8a44;
  font-weight: 600;
}

/* Responsive (Small Screens) */
@media (max-width: 480px) {
  .auth-card {
    padding: 1.5rem;
    max-width: 95%;
  }

  .auth-card input {
    font-size: 14px;
  }

  .auth-btn {
    font-size: 16px;
  }
}
