.product-detail-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.product-detail-img {
  width: 250px;
  border-radius: 10px;
}

.product-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.add-cart-btn {
  background: #0a8a44;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.buy-now-btn {
  background: #ff6b00;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
